name: DataPrivacyToolkit-Coverage
on:
  push:
    tags:
      - '*'
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Run Coverage for Library
        working-directory: ./library
        run: ./gradlew testCoverage --no-daemon
      - name: Save library to mavenLocal()
        working-directory: ./library
        run: ./gradlew publishToMavenLocal --no-daemon
      - name: Run Coverage for Toolkit
        working-directory: ./docker
        run: ./gradlew testCoverage --no-daemon
      - name: Add coverage to PR
        id: jacoco
        uses: madrapps/jacoco-report@v1.6
        with:
          paths: ${{ github.workspace }}/library/build/reports/jacoco/testCoverage/testCoverage.xml,${{ github.workspace }}/docker/build/reports/jacoco/testCoverage/testCoverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 60
          min-coverage-changed-files: 70
