name: DataPrivacyToolkit-Toolkit
on:
  push:
    tags:
      - '*'
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17', '21']
        distribution: ['adopt', 'corretto', 'microsoft']
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Run gradlew publish to maven local
        working-directory: ./library
        run: ./gradlew publishToMavenLocal --no-daemon
      - name: Run gradlew clean build
        working-directory: ./docker
        run: ./gradlew build --no-daemon
  end-to-end-test:
    name: End to end test
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: dpt-image:test
    steps:
      - uses: actions/checkout@v3
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '11'
          cache: 'gradle'
      - name: Run gradlew publish to maven local
        working-directory: ./library
        run: ./gradlew publishToMavenLocal --no-daemon
      - name: Run gradlew to build toolkit
        working-directory: ./docker
        run: ./gradlew shadowJar -x test --no-daemon
      - name: Build docker image
        working-directory: ./docker
        run: docker build -t $IMAGE_NAME .
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'
          cache: 'pip'
          cache-dependency-path: '**/requirements-dev.txt'
      - name: Install pytest
        working-directory: ./docker
        run: pip install -r ./requirements-dev.txt
      - name: Run end-to-end tests
        working-directory: ./docker
        run: pytest scripts/e2e_tests
